/* Variables */
$main-color: #af2322;

/* FRONT PAGE STYLE */
html {
    height: 100%;
}

body {
	overflow-x: hidden;
	font: 16px/24px 'Open Sans', Arial;
	color: #333;
	height: 100%;
}

header { 

	padding-bottom: 30px;
	margin-top: 30px;
}


h1, h2, h3, h4 {
	font-family: 'PT Serif', serif;
	color: #5d5d5d;
}

.fa {
	color: darken($main-color, 10%);
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
 }

.btn { 
	background: $main-color;
	padding: 17px 27px 17px;
	border: none;
	border-radius: 5px;
	color:#fff;
	cursor: pointer;
	line-height: 1;
	font-size:  16px;
	font-family: 'Open Sans', arial, tahoma;
 		&:hover,  &:focus {
			background:  #821918; 
			color: #fff;
			border: 0;
			box-shadow: none;
			outline: 0;
}
}

.gotobarber {
	font-size: 14px;
	margin-left: 20px;
}

.social {
	display: flex;
	 a {
		margin-left: 12px;
		font-size: 1.1em!important;
	}
}



.logo {
	padding-top:15px;
	@include breakpoint(till-large) { padding-top: 15px; } 
	 h1 {
	font-size: 24px;
	font-family: 'Open Sans';
	font-weight: 300;
	border-bottom: 1px solid #f66d6d; 
	text-align: center;
	text-transform: capitalize;
	padding-bottom: 10px;
}
}

.navigation > div, .navigation button, .topbar > div {
	float:left;
	margin-right:6px;
}

.topbar {
	float:right;
	margin-top:38px;
	margin-bottom: 27px;
	color: #4d4d4d;
	font-size: 14px;
}

.navbar-nav  {
	font-family: 'PT Serif', serif!important;
	margin: 0;
	padding: 0;

	li {
		font-size: 15px;
		text-transform: uppercase;
	}

	a {
	color: #393939;
	padding: 15px 0;
		&:hover {
			border-top: 1px solid #f66d6d;
			border-bottom: 1px solid #f66d6d;
			
			text-decoration: none;
		}
	}
}


/* CAROUSEL SLIDER  */

#carousel-b { 

	.carousel-caption {
   		 bottom: 15%;
    	@include breakpoint(till-large) { bottom: 20%; }

     }	
	
	.carousel-item  {
				height: 500px;
				@include breakpoint(till-large) { height: 250px; }
			 > img {
				min-height: 500px;
				@include breakpoint(till-large) { min-height: 250px; }
			  }
		}

	.slider-box {
 	
 	text-align: center;
 	color:#fff;
 		h1 {
	 	font-family: 'PT Serif', serif;
	 	font-size: 52px;
	 	color:#fff;
	 	@include breakpoint(till-large) { font-size: 2rem; margin-bottom: 15px; }
 	}
	 	p {
	 	font-family: 'PT Serif', serif;
	 	font-size: 22px;
	 	margin: 48px auto;
	 }
 }

} 

  .barber-pr { 
	background: url('../images/barber-cover.jpg') no-repeat;
	background-size: cover;
max-height: 100%;
height:450px;
	 }

.patt {
	 	background: url('../images/hip-square.png') repeat left top;
	 	padding: 3em 3em 0;
	 	@include breakpoint(till-large) { 	padding: 3em 3em 2em; }
	 
		 h2 { 
			font-size: 32px;
			color: #333333;
			margin-bottom: 1rem;
	  }
	}

.prices ul {
		    line-height: 65px;
		    list-style: none;
		    margin-left: 0;
		    padding-left: 0;
		    li {
		    	@include breakpoint(till-medium) { line-height: 25px; }
		    }
	  }

	.prices ul li > div { float:right;  }  

	.prices ul li > div:first-child { 
			margin-left:0; 
		  	float:left;
			clear:both; 
		    font-size: 18px; 
		    @include breakpoint(till-medium) { font-size: 1rem; float: none; }
		} 
	.prices ul li div:last-child {
		
		font-size: 20px;
		color: #6f6f6f;
		font-weight: 300;

	} 

	.our-barbers { position: relative; }

	.our-barbers h2 { margin-top:42px; text-align: center; }

	.our-barbers:before { content: url('../images/barbs-rect.png'); position: absolute; top: 0; left:-30px;}
	.our-barbers:after { content: url('../images/barbs-rect.png'); 
			position: absolute; 
			bottom: 0; 
			left:-30px;
			-webkit-transform: rotate(270deg);     /* Chrome and other webkit browsers */
		  	-moz-transform: rotate(270deg);        /* FF */
		  	-o-transform: rotate(270deg);          /* Opera */
		  	-ms-transform: rotate(270deg);         /* IE9 */
		  	transform: rotate(270deg);             /* W3C compliant browsers */
}

	.box-barbers {
			border: 1px solid #f66d6d;
			padding:45px;
			margin-top: 25px;
			margin-bottom:60px;
			.fa { 
				font-size: 1.3rem;
				margin-right: 5px;
			 }
			 span {
			 	margin: 10px auto;
			 	display: block;
			 }
			.row > div {
			 	@include breakpoint(till-medium) {
			 		margin-bottom: 15px;
			 		padding-bottom: 15px;
			 		border-bottom: 1px solid #e7e0e0;
			 	}
			 }
		}


	.box-barbers img {
			width: 215px;
		}

	.description	.workflow {
	background: url('../images/1000bar.jpg') no-repeat;
	background-size: cover;
	/*background-attachment: fixed;*/
	min-height: 450px;
	height: 450px; 	
		}


.description .patt p {
				margin:32px auto;
		}

	#map {
		   
				height: 500px;
				width: 100%;

      }

   .testi-map {
		      	position: relative;
		      }

.testimonials { 
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	height:auto;
	background: rgba(0,0,0,.6);
	z-index: 1000;
	color:#fff;
	text-align: center;
	padding: 60px 0;
 }

 .testimonials h3 { color:#fff; margin-bottom: 25px; }

 footer {
 	text-align: center;
 	padding: 28px 0;
 }

  footer p {
    margin-bottom: 0;
}

.pos {
	position: relative;
}

.testimonials .fa {
	position: absolute;
	font-size: 1.5em;
}

.fa-arrow-right {
right: -50px;
top: 40%;

}

.fa-arrow-left {
left: -50px;
top: 40%;

}

.our-barbers h4 { text-align: center; margin-top:60px; color: #5d5d5d;}

.form-horizontal { 
		background: transparent;
		padding: 1.4em 2em 1.8em;
		margin: 70px auto 100px;
		color: #fff;
		border-radius: 10px;
		border: 5px solid #fbcdcd;
		
 }

.form-horizontal .btn {
		 background: #fff;
		 border: 1px solid #f66d6d;
		color: #f66d6d;
		margin-top: 10px;
		padding: 17px 75px 20px;
		}
.form-group { text-align:center; }

.form-control::placeholder {
    color: #f66d6d !important;
    opacity: 1;
}
.form-control::-moz-placeholder {
    color: #f66d6d !important;
    opacity: 1;
}

.form-control, .form-control:focus {
    background-color: transparent!important;
    border:none!important;
    border-bottom: 1px dotted #fbcdcd !important;
    border-radius: 0!important;
    text-align: center!important;
    font-size: 1.2rem;
}
.form-group {
    margin-top: 1rem;
}

.form-control {
    color: #f66d6d !important;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;

}

.navbar-toggler {
    border-color: $main-color;
    i {
    	color: #d14140;
    	text-align: center;
    } 
}


.mob-hide {
	@include breakpoint(till-large) { display: none; }
}

.prices ul li > span {
	margin-left: 16px;
	font-size: 14px;
	color: #aeaeae;
	@include breakpoint(till-medium) { display: none; }
}


.navbar-nav .dropdown-item {
    padding: 12px 15px;
    font-size: 0.8rem;
}